@import url('https://fonts.googleapis.com/css2?family=Acme&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

body{
    background: linear-gradient(black,pink);
    font-family: "Acme", sans-serif;
}


.paralax{
    position: relative;
    width: 100%;
    height: 200vh;
    padding: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.paralax::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,pink,transparent );
    z-index: 1000;
}
   

.paralax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#text{
    position: absolute;
    font-size: 4.8em;
    color: azure;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 3px 3px 10px white;
    bottom: -100px;
    

}

#button {
    position: absolute;
    font-size: 1em;
    color: black;
    background-color: white;
    padding: 10px 50px;
    border-radius: 20px;
    text-decoration: none;
    transform: translateY(100px);
    bottom: -100px;
}



.paralax img#meteorid{
    z-index: 100;
}
.description{
    position: relative;
    padding: 10em;
    background-color:pink;
    
}
.description p {
    font-size: 1.5em;

}

#buttonn{
    position: absolute;
    font-size: 1em;
    color: black;
    background-color: white;
    padding: 5px 10px;
    border-radius: 20px;
   
    text-decoration: none;
    transform: translateY(-200px);
    bottom: -100px;
    
}





